html, body {
  position: relative;
  height: 100%;
  margin: 0;
}

body {
  background: #B1D4F7;
  font-family: 'Faster One', cursive;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#canvas-container {
  position: relative;
}

#label-container {
  position: absolute;
}

#label {
  position: relative;
  text-align: center;
  color: rgba(0,0,0,0.6);
  font-size: 70px;
}

#floor {
  border: 5px solid #FFABBE;
}
